## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sydney,AU,-33.8679,151.2073,50.63,72,0,10.36,clear sky
1,1,Barrow,US,71.2906,-156.7887,41.02,100,100,5.75,mist
2,2,Yumen,CN,40.2833,97.2000,70.30,43,99,8.93,overcast clouds
3,3,Kununurra,AU,-15.7667,128.7333,64.38,17,7,9.22,clear sky
4,4,Port Hardy,CA,50.6996,-127.4199,59.18,94,75,4.61,mist

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria
min_temp = float(input("Please enter the minimum temperature criterion for your vacation: "))
max_temp = float(input("Please enter the maximum temperature criterion for your vacation: "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_cities = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
filtered_cities

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Puerto Ayora,EC,-0.7393,-90.3518,75.16,82,96,5.01,overcast clouds
11,11,Kota Kinabalu,MY,5.9749,116.0724,75.18,88,20,5.01,few clouds
30,30,Isangel,VU,-19.5500,169.2667,75.31,88,40,6.91,scattered clouds
39,39,Nioro,GM,13.3500,-15.7500,75.45,86,100,0.49,overcast clouds
55,55,Ponta do Sol,PT,32.6667,-17.1000,77.00,75,1,3.47,clear sky
...,...,...,...,...,...,...,...,...,...,...
664,664,Merauke,ID,-8.4667,140.3333,76.59,86,70,13.67,broken clouds
665,665,Fare,PF,-16.7000,-151.0167,75.76,82,9,14.14,light rain
667,667,BƒÅfq,IR,31.6128,55.4107,76.28,11,0,9.62,clear sky
669,669,Sola,VU,-13.8833,167.5500,78.60,80,37,14.41,scattered clouds
671,671,Chaman,PK,30.9236,66.4512,75.56,65,100,7.25,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
contains_empty_rows = filtered_cities.isna()

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn‚Äôt have empty rows.
clean_df = filtered_cities.dropna()
clean_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Puerto Ayora,EC,-0.7393,-90.3518,75.16,82,96,5.01,overcast clouds
11,11,Kota Kinabalu,MY,5.9749,116.0724,75.18,88,20,5.01,few clouds
30,30,Isangel,VU,-19.5500,169.2667,75.31,88,40,6.91,scattered clouds
39,39,Nioro,GM,13.3500,-15.7500,75.45,86,100,0.49,overcast clouds
55,55,Ponta do Sol,PT,32.6667,-17.1000,77.00,75,1,3.47,clear sky
...,...,...,...,...,...,...,...,...,...,...
664,664,Merauke,ID,-8.4667,140.3333,76.59,86,70,13.67,broken clouds
665,665,Fare,PF,-16.7000,-151.0167,75.76,82,9,14.14,light rain
667,667,BƒÅfq,IR,31.6128,55.4107,76.28,11,0,9.62,clear sky
669,669,Sola,VU,-13.8833,167.5500,78.60,80,37,14.41,scattered clouds
671,671,Chaman,PK,30.9236,66.4512,75.56,65,100,7.25,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Puerto Ayora,EC,75.16,overcast clouds,-0.7393,-90.3518,
11,Kota Kinabalu,MY,75.18,few clouds,5.9749,116.0724,
30,Isangel,VU,75.31,scattered clouds,-19.5500,169.2667,
39,Nioro,GM,75.45,overcast clouds,13.3500,-15.7500,
55,Ponta do Sol,PT,77.00,clear sky,32.6667,-17.1000,
56,Malanje,AO,76.15,overcast clouds,-9.5402,16.3410,
57,Atuona,PF,77.86,overcast clouds,-9.8000,-139.0333,
65,Marsala,IT,76.93,clear sky,37.7966,12.4352,
75,Cho Dok,VN,77.41,overcast clouds,10.7000,105.1167,
78,Wawa,NG,75.13,overcast clouds,9.9022,4.4192,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6d. Set up the base URL for the Google Directions API to get JSON data.
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# 6b. Iterate through the hotel DataFrame.
for idx, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lon = row['Lng']
    params["location"] = f"{lat}, {lon}"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    if len(hotels['results']) > 0:
        hotel_name = hotels['results'][0]['name']
    else:
        hotel_name = None
    
    hotel_df.at[idx, 'Hotel Name'] = hotel_name
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Puerto Ayora,EC,75.16,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
11,Kota Kinabalu,MY,75.18,few clouds,5.9749,116.0724,Gaya Centre Hotel
30,Isangel,VU,75.31,scattered clouds,-19.5500,169.2667,Tanna Lodge
39,Nioro,GM,75.45,overcast clouds,13.3500,-15.7500,None
55,Ponta do Sol,PT,77.00,clear sky,32.6667,-17.1000,Hotel do Campo

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Puerto Ayora,EC,75.16,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
11,Kota Kinabalu,MY,75.18,few clouds,5.9749,116.0724,Gaya Centre Hotel
30,Isangel,VU,75.31,scattered clouds,-19.5500,169.2667,Tanna Lodge
55,Ponta do Sol,PT,77.00,clear sky,32.6667,-17.1000,Hotel do Campo
56,Malanje,AO,76.15,overcast clouds,-9.5402,16.3410,Hotel Ginga

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "./WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ¬∞F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))